@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model WalletWebApp.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = @Localizer["Title"];
    Layout = "_Layout";
}

<h2 class="text-center">@Localizer["Title"]</h2>
<div class="container-sm d-flex justify-content-center">
    <div class="col-lg-5 p-5 d-flex justify-content-center">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label asp-for="Login" class="form-label"></label>
                <input asp-for="Login" type="text" class="form-control">
                <span asp-validation-for="Login"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <div class="pass-group input-group">
                    <input asp-for="Password" type="password" class="form-control">
                    <button type="button" class="btn btn-outline-primary">
                        <i class="bi bi-eye-slash"></i>
                    </button>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input asp-for="RememberMe" class="form-check-input" type="checkbox">
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
            </div>
            <div class="form-row">
                <input class="w-100 btn btn-primary" type="submit" value="@Localizer["SignIn"]" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ShowHidePasswordScriptPartial");
    }
}